*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-size:2rem;
    
}
@media (max-width: 768px) {
    *{
        font-size: 1.4rem; /* Adjust font size for smaller screens */
    }
 
}
hr {

    border: 0;
    height: 1.5px;             /* thickness of line */
    background-color: #646363;  /* light gray color */
    margin-bottom: 8px;
}

html body {
    position: relative;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(61, 61, 59));
    font-family: Arial, sans-serif;
    min-height: 100vh; /* ensures at least full height, but grows with content */
    margin: 0; /* removes browser default margin */
    color: rgb(227, 223, 223);
    overflow: hidden;
    
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* full viewport height */
    overflow-y: hidden;
}

.back {

    position: absolute;
    left: 15px;
    top: 15px;
    opacity: 0.8;
    text-decoration: none;
    color: rgb(227, 223, 223);
    font-size: xx-large;
}

.back:hover {
    opacity: 1;
}


.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* full viewport height */
    overflow-y: hidden;
}


a {
  color: rgb(227, 223, 223); /* same as text color */
  text-decoration: none;     /* remove underline */
}

a:hover {
  text-decoration: underline; /* optional: show underline only on hover */
}

.child{
    padding: 10px;
    margin: 10px;
}