*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    font-size:1.5rem;
  
}
hr {

    border: 0;
    height: 1.5px;             /* thickness of line */
    background-color: #646363;  /* light gray color */
    margin-bottom: 8px;
}

.btm {
    font-size: x-large;
}

html body {
    position: relative;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(61, 61, 59));
    font-family: Arial, sans-serif;
    min-height: 100vh; /* ensures at least full height, but grows with content */
    margin: 0; /* removes browser default margin */
    color: rgb(227, 223, 223);
    overflow-x: hidden;
    
}



.back {

    position: absolute;
    left: 15px;
    top: 15px;
    opacity: 0.8;
    text-decoration: none;
    color: rgb(227, 223, 223);
    font-size: xx-large;
}

.back:hover {
    opacity: 1;
}



.featured {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}



.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;  /* centers horizontally */
  margin-top: 20px;
  
}

.contact {
 
  display: grid;
  grid-template-columns: max-content 20px max-content; /* auto-fit content */
  gap: 10px;
  margin: 20px 0;
  font-size: 1.8rem;
  white-space: nowrap; /* keeps name+designation in one line */
}

.label {
    width: 500px; /* fixed width for labels */
  text-align: left;
}


.colon {
    width: 10px;
  text-align: right;
}

.number {
  width: 450px;
  text-align: left;
  white-space: normal; /* allow wrapping only for numbers */
}



.number a {
  color: rgb(227, 223, 223); /* same as text color */
  text-decoration: none;     /* remove underline */
}

.number a:hover {
  text-decoration: underline; /* optional: show underline only on hover */
}

.bank{
  margin-bottom: 4px;
}
@media (max-width: 900px) {


  .contact {
 
    
  display: grid;
  grid-template-columns: max-content 0 max-content; /* auto-fit content */
 
  margin: 20px 0;
 
  white-space: nowrap; /* keeps name+designation in one line */

  margin-left: 10px;
}

  
  * {
    font-size: 16px; /* smaller font size for small screens */
  }






.label {
    width: 200px; /* fixed width for labels */
  
}


.colon {
    width: 3px;
  text-align: right;
}

.number {
  width: 114px;
  text-align: left;
  white-space: normal; /* allow wrapping only for numbers */
}




.back {

    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.8;
    text-decoration: none;
    color: rgb(227, 223, 223);
   
    
}

.btm{
    display: none;
}

.value{
  font-size: 13px;
   overflow-wrap: anywhere;
   display: inline-block;
   line-height: 1;
  
   
}

/* .mobile{
  position: relative;
  left: -100px;
} */
  .bank{
    margin-bottom: 0px;
  }


}

